.container {

      display: flex;
      justify-content: center;
      align-items: center;

}

.bienvenida {
      background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2020-10/6/16/campaign_images/9232fa5697f6/solo-alguien-que-realmente-ama-a-los-perritos-va--2-9794-1602001787-17_dblbig.jpg?resize=1200:*');
      background-position: url('https://img.buzzfeed.com/buzzfeed-static/static/2020-10/6/16/campaign_images/9232fa5697f6/solo-alguien-que-realmente-ama-a-los-perritos-va--2-9794-1602001787-17_dblbig.jpg?resize=1200:*');
      background-size: cover;
      width: 1250px;
      height: 600px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
}

.bienvenida button {
      display: inline-block;
      color: white;
      text-align: center;
      background-color: #17a2b8;
      border: 1px solid #17a2b8;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;

}

.bienvenida button:hover {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
}