.contain {
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center
}

.cuadro {
      background-color: #e9de8a;
      border-radius: 10%;
      padding: 15px
}

.mensaje {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 10px;

}

.msjImg {
      grid-area: 1 / 1 / 4 / 2;

}

.msjImg img {
      margin-top: 30px;
      max-width: 400px;
      max-height: auto;
      border-radius: 40%;

}

.msg {
      grid-area: 4 / 1 / 5 / 2;
      color: white;
}

.botonesMsj {
      grid-area: 5 / 1 / 6 / 2;
}

.botonesMsj button {
      margin: 15px;
}

.botonesMsj button {
      display: inline-block;
      color: white;
      margin-left: 1rem;
      text-align: center;
      background-color: #9f8e10;
      border: 1px solid white;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
}

.botonesMsj button:hover {
      box-shadow: 0px 2px 4px whitesmoke;
      background-color: #c2b029;

}