.pagination {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;

}

.pages {
      position: relative;
      display: flex;
      gap: 0.1rem;
      vertical-align: middle;
}

.btn {
      display: inline-block;
      font-weight: 400;
      color: #fff;
      text-align: center;
      vertical-align: middle;

      background-color: #9f8e10;
      border: 1px solid #6c757d;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
}

.btn:hover {
      color: #fff;
      background-color: #5a6268;
      border-color: #545b62;
}

.btn:active {
      background-color: red;
}