.home {
  margin: 0;
  overflow: hidden;

  padding: 0;
  width: 100%;
  height: auto;
  position: absolute;
  background-image: url("../images/perrites.png");
  font-family: "Comic Neue", cursive;
}

.home h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-style: Bold 700 italic;
  color: rgb(211, 194, 102);
  text-shadow: rgb(19, 19, 18) -3px 1px;
}

.home h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-style: Bold 700 italic;
  color: rgb(144, 250, 5);
  background-color: black;
}

.home h3 {
  text-decoration: none;
}

.homeCard {
  margin-left: 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 60px;
}

.pg-container {
  margin: 1px;
  padding: 1px;
}

.paginate {
  display: flex;
  justify-content: center;
}

.border {
  background-color: rgb(250, 248, 248);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.tempsMap {
  margin-top: 2px;
  margin-bottom: 0;
}

.notFind {
  margin-left: 1%;
  display: grid;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 1050px) {
  .homeCard {
    margin-left: auto;
    display: -moz-grid-group;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    margin-bottom: 5px;
  }

  .home {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: absolute;
    background-image: none;
    background-color: rgb(240, 92, 92);
    font-family: "Comic Neue", cursive;
  }

  .home h1 {
    display: -ms-flexbox;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-style: Bold 700 italic;
    color: rgb(211, 194, 102);
    text-shadow: rgb(19, 19, 18) -3px 1px;
  }

  .home h2 {
    display: -ms-flexbox;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-style: Bold 700 italic;
    color: rgb(144, 250, 5);
    background-color: black;
  }


}