.landing {
      background-image: url("../images/heartdog.jpg");
      height: 100vh;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 0%;
      padding: 0%;
      border: 0%;
      display: -ms-grid;
}

.landing h1 {
      height: 20px;
      display: -ms-grid;
      justify-self: left;
      padding: 5px;
      color: rgb(223, 208, 124);
      text-shadow: rgb(17, 17, 17) -1.5px .3px;
      font-size: 65px;
      font-family: "Comic Neue", cursive;
}

.landing h2 {
      height: 20px;
      display: -ms-grid;
      justify-content: right;
      margin-left: 56vw;
      color: rgb(223, 208, 124);
      text-shadow: rgb(17, 17, 17) -1.5px .3px;
      font-size: 24px;
      font-family: "Comic Neue", cursive;
}

.landing button {
      border: solid 2px transparent;
      border-radius: 75px;
      width: 200px;
      height: 45px;
      background-color: transparent;
      transition: background-color 0.25s, color 0.25s;
      cursor: pointer;
      color: #fbfafc;
      font-size: 30px;
      font-weight: bolder;
}

.landing button:hover {
      background-color: #faf9f8;
      color: rgb(199, 35, 35);
}

.center {
      text-align: right;
}

.footer {
      align-items: center;
      margin-top: 400px;
      margin-left: 550px;

}