.nav {
  display: flex;
  height: auto;
  width: 100%;
  background-color: rgb(245, 64, 64);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  cursor: pointer;
  margin-top: 5px;
  border: 1px, black;
  font-size: 15px;
}

@media only screen and (max-width: 1050px) {
  .nav {
    flex-wrap: wrap;
    text-align: justify;
    height: 100%;
    background-color: rgb(240, 92, 92);
  }

  .button {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px, black;
    font-size: 25px;
  }

}