.select {
  /* margin-top: 5px;
  border: 1px, black;
  color: black;
  font-size: 15px;
  cursor: pointer; */
  color: rgb(248, 37, 37);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}